.charge{
    display:inline-block;
    width:64px;
    height:64px;
    border-radius: 8px;
    padding:10px;
}
.charge img{
    max-width: 64px;    
    max-height: 64px;
    margin: auto;
    display: block;
}
.charge:hover{
    transform: scale(1.2);
}
.hidden{display: none;}

input[type=text]{
    border-top:none;
    border-left: none;
    border-right: none;
}
input[type=text]:focus{
    outline: none;
    border-bottom: 2px #0078e7 solid;
}
input[type=text].invalid{
    border-bottom: 2px red solid;
}