html{
	font-family:'Vollkorn', 'serif';
}
body{
	margin:0;
}
/* Display URL of hyperlinks when printing */
@media print {
  a:after {
    content: " (" attr(href) ")";
  }
}

/* Example media query expression for Responsive Web Design */
@media (orientation: portrait) and (min-width:980px) {
  html {
    
  }
}

header img{
	max-width:100%;
}
header{
	text-align:center;
	background: url("Parchment.jpg");
	background-size: cover;
}
header h2{
	font-weight:400;
	color: white;
	font-size:2em;
	margin:0;
	padding:6px 0;
	background-color: #ed1c24;
}
.container{
	padding:20px;
}