<h2>What is Councilore</h2>
<p>
  Councilore is a hybrid card game/web game where players, as council members of a medieval town, must manage day-to-day decisions while accruing enough Gold and Influence to become Mayor-For-Life. 
</p>
<h2>Setup</h2>
<ol>
    <li><a href="" [routerLink]="['/new']">Start a new game</a> by selecting a town name and coat of arms.</li>
    <li>Each player starts with 5 Influence and 5 Gold.</li>
    <li>Deal 5 cards to each player.</li>
    <li>Elect the first Mayor by voting for which player has the fanciest outfit. In case of tie, see <i>Alternate Boring Mayor Election Rules</i>
        <ul>
            <li>
                <strong>Alternate Boring Mayor Election Rules</strong>: The oldest player is Mayor.
            </li>
        </ul>
    </li>
    <li>Begin the game by viewing the first Daily Decision.</li>
</ol>