<div class="pure-g">
    <div class="pure-u-1 text-center">
        <table class="menu">
            <tbody>
                <tr>
                    <td>
        <a href="" [routerLink]="['/new']" class="pure-button pure-button-primary">New Game</a>                        
                    </td>
                </tr>
                <tr>
                    <td>
        <a href="" [routerLink]="['/game']" class="pure-button pure-button-primary">Resume Game</a>                        
                    </td>
                </tr>
                <tr>
                    <td>
        <a href="" [routerLink]="['/howtoplay']" class="pure-button pure-button-primary">How to Play</a>                        
                    </td>
                </tr>
                <tr>
                    <td>
        <a href="" class="pure-button pure-button-primary">About</a>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
