<div class="pure-g">
    <div class="pure-u-1 text-center">
        <a href="" [routerLink]="['/new']" class="pure-button pure-button-primary">New Game</a>
    </div>
    <div class="pure-u-1 text-center">
        <a href="" [routerLink]="['/game']" class="pure-button pure-button-primary">Resume Game</a>
    </div>
    <div class="pure-u-1 text-center">
        <a href="" class="pure-button pure-button-primary">How to Play</a>
    </div>
    <div class="pure-u-1 text-center">
        <a href="" class="pure-button pure-button-primary">About</a>
    </div>
</div>
