<div>
  <h1>{{game.city.name}}</h1>
  <h3>Day {{game.city.day}}</h3>
  <div [style.display]="state < 2 ? 'block': 'none'">
    <h2>{{daily?.title}}</h2>
    <p>{{daily?.description}}</p>
  </div>
  <div [style.display]="state==0 ? 'block': 'none'">
    <div class="pure-g">
        <div class="pure-u-1 text-center">
            <table class="menu left">
                <tbody>
                    <tr *ngFor="let r of daily?.resolutions">
                        <td>                  
                            <p class="requirement-badge" *ngIf="r?.treasuryRequirement > 0">
                                <img src="/content/flaticon/svg/coins.svg" alt="" class="middle">
                                <span class="middle">{{r?.treasuryRequirement}}</span>                                
                            </p>
                            <p class="requirement-badge" *ngIf="r?.loreRequirement > 0">
                                <img src="/content/flaticon/svg/feather-and-ink-bottle.svg" alt="" class="middle">
                                <span class="middle">{{r?.loreRequirement}}</span>
                            </p>
                            <p class="requirement-badge" *ngIf="r?.tradeRequirement > 0">
                                <img src="/content/flaticon/svg/business.svg" alt="" class="middle">
                                <span class="middle">{{r?.tradeRequirement}}</span>
                            </p>
                            <p class="requirement-badge" *ngIf="r?.farmingRequirement > 0">
                                <img src="/content/flaticon/svg/food.svg" alt="" class="middle">
                                <span class="middle">{{r?.farmingRequirement}}</span>
                            </p>
                            <p class="requirement-badge" *ngIf="r?.societyRequirement > 0">
                                <img src="/content/flaticon/svg/social.svg" alt="" class="middle">
                                <span class="middle">{{r?.societyRequirement}}</span>
                            </p>
                            <p class="requirement-badge" *ngIf="r?.lawRequirement > 0">
                                <img src="/content/flaticon/svg/shapes.svg" alt="" class="middle">
                                <span class="middle">{{r?.lawRequirement}}</span>
                            </p>       
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" (click)="selectResolution(r)" [attr.disabled]="r.disabled ? true : null" >   
                                {{r.preDescription}}
                            </a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>      
  </div>
  <div [style.display]="state==1 ? 'block': 'none'">
    <p class="text-center">
        {{selectedResolution?.postDescription}}
    </p>
    <div class="results">
        <table>
            <tbody>
                <tr *ngIf="selectedResolution?.treasuryDelta">
                    <td>
                        Treasury</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.treasuryDelta > 0">+</span>
                        {{selectedResolution?.treasuryDelta}}</td>
                </tr>
                <tr *ngIf="selectedResolution?.lawDelta">
                    <td>
                        Law</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.lawDelta > 0">+</span>
                        {{selectedResolution?.lawDelta}}                        
                    </td>
                </tr>
                <tr *ngIf="selectedResolution?.farmingDelta">
                    <td>
                        Farming</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.farmingDelta > 0">+</span>
                        {{selectedResolution?.farmingDelta}}</td>
                </tr>
                <tr *ngIf="selectedResolution?.tradeDelta">
                    <td>
                        Trade</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.tradeDelta > 0">+</span>
                        {{selectedResolution?.tradeDelta}}</td>
                </tr>
                <tr *ngIf="selectedResolution?.societyDelta">
                    <td>
                        Society</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.societyDelta > 0">+</span>
                        {{selectedResolution?.societyDelta}}</td>
                </tr>
                <tr *ngIf="selectedResolution?.loreDelta">
                    <td>
                        Lore</td>
                    <td>
                        &nbsp;<span *ngIf="selectedResolution?.loreDelta > 0">+</span>
                        {{selectedResolution?.loreDelta}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a class="pure-button pure-button-primary" (click)="finishResolution()">OK</a>
    </div>
  </div>
  <div [style.display]="state==2 ? 'block': 'none'">
    <h3>Expansion Phase</h3>
    <div class="text-center">
        <img src="/content/svgs/expansion-01.svg" style="max-width:144px" alt="" />
    </div>
    <p>
        
    </p>
    <div class="text-center">
        <a class="pure-button pure-button-primary" (click)="finishExpansion()">OK</a>
    </div>
  </div>
  <div [style.display]="state==3 ? 'block': 'none'">
    <h3>Taxes</h3>
    <div class="bag-container" [class.tumble-and-fade]="state == 3">
        <img src="/content/svgs/coin-01.svg" alt="" class="coin c0"/>
        <img src="/content/svgs/coin-01.svg" alt="" class="coin c1"/>
        <img src="/content/svgs/coin-01.svg" alt="" class="coin c2"/>
        <img src="/content/svgs/bag-01.svg" alt="" class="bag">
        <div class="bag-amount">
            <span *ngIf="taxCollected > 0" class="coin-label">+</span>
            <span class="coin-amount">
            {{taxCollected}}                
            </span>
        </div>
    </div>
    <div class="text-center">
        <a class="pure-button pure-button-primary" (click)="finishDay()">OK</a>
    </div>
  </div>
  <div class="stats">
      <div>
          <img src="/content/flaticon/svg/coins.svg" class="stat-icon" alt="">
          <h5>Treasury</h5>
          <span class="label">{{game.city.treasury || 0}}</span>
      </div>
      <div>
          <img src="/content/flaticon/svg/food.svg" class="stat-icon" alt="">
          <h5>Farming</h5>
          <span class="label">{{game.city.stats.farming.value}}</span>
          <div class="stat-bar">
              <div class="inner"[ngStyle]="game.city.stats.farming.getStyle()"></div>
          </div>
          <a href="" class="pure-button stat-change">
              <img src="/content/svgs/expansion-black.svg" alt="">
          </a>
      </div>
      <div>
          <img src="/content/flaticon/svg/business.svg" class="stat-icon" alt="">
          <h5>Trade</h5>
          <span class="label">{{game.city.stats.trade.value}}</span>
          <div class="stat-bar">
              <div class="inner" [ngStyle]="game.city.stats.trade.getStyle()"></div>
          </div>
          <a href="" class="pure-button stat-change">
              <img src="/content/svgs/expansion-black.svg" alt="">
          </a>
      </div>
      <div>
          <img src="/content/flaticon/svg/feather-and-ink-bottle.svg" class="stat-icon" alt="">
          <h5>Lore</h5>
          <span class="label">{{game.city.stats.lore.value}}</span>
          <div class="stat-bar">
              <div class="inner"[ngStyle]="game.city.stats.lore.getStyle()"></div>
          </div>
          <a href="" class="pure-button stat-change">
              <img src="/content/svgs/expansion-black.svg" alt="">
          </a>
      </div>
      <div>
          <img src="/content/flaticon/svg/social.svg" class="stat-icon" alt="">
          <h5>Society</h5>
          <span class="label">{{game.city.stats.society.value}}</span>
          <div class="stat-bar">
              <div class="inner"[ngStyle]="game.city.stats.society.getStyle()"></div>
          </div>
          <a href="" class="pure-button stat-change">
              <img src="/content/svgs/expansion-black.svg" alt="">
          </a>
      </div>
      <div>
          <img src="/content/flaticon/svg/shapes.svg" class="stat-icon" alt="">
          <h5>Law</h5>
          <span class="label">{{game.city.stats.law.value}}</span>
          <div class="stat-bar">
              <div class="inner" [ngStyle]="game.city.stats.law.getStyle()"></div>
          </div>
          <a href="" class="pure-button stat-change">
              <img src="/content/svgs/expansion-black.svg" alt="">
          </a>
      </div>
  </div>
</div>
