h1 {
    background-color: #C72A2A;
    padding: .7em;
    margin: 0 0 10px 0;    
}
h1 > a{
    color: white;
    text-decoration: none;
}

.app-container{
    /*margin:25px;    */
}    
@media (min-width:1300px){
    .app-container{
        /*max-width:1024px;
        margin:auto;    */
    }    
}